@model acadgest.Models.Coordenations.Coordenation

<h2>Nova coordenação</h2>

<form asp-controller="Coordenation" asp-action="Create" method="post">

    <div class="form-group">
        <label asp-for="Name">Nome da coordenação</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <button type="submit" class="btn my-2 btn-primary">Criar</button>
</form>