<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - acadgest</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/acadgest.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light mb-3">
            <div class="container-fluid position-relative">
                <div class="position-absolute login-logout-div d-flex justify-content-end">
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item me-2">
                                <a class="nav-link fs-5 text-main" asp-area="" asp-controller="Home"
                                    asp-action="Index">Início</a>
                            </li>
                            <li class="nav-item me-2">
                                <a class="nav-link fs-5 text-main" asp-area="" asp-controller="Home"
                                    asp-action="Index">E-Jornal</a>
                            </li>
                            <li class="nav-item me-2">
                                <a class="nav-link fs-5 text-main" asp-area="" asp-controller="Home"
                                    asp-action="Index">Midiateca</a>
                            </li>
                            <li class="nav-item me-2">
                                <a class="nav-link fs-5 text-main" asp-area="" asp-controller="Home"
                                    asp-action="Index">E-Jornal</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav ms-auto me-4">
                            @if (User.Identity != null && User.Identity.IsAuthenticated)
                            {

                                <div class="dropdown">
                                    <img src="~/img/conta.png" width="40px" alt="Usuário"
                                        class="rounded-circle dropdown-toggle" id="userDropdown" data-bs-toggle="dropdown">
                                    <ul class="dropdown-menu rounded-0 bg-main dropdown-menu-end"
                                        aria-labelledby="userDropdown">
                                        <li><a class="dropdown-item text-account" href="Account/UserPortal">Meu portal</a>
                                        </li>
                                        <li><a class="dropdown-item text-account" href="#">Configurações</a></li>
                                        <li><a class="dropdown-item text-account" href="Account/Logout">Sair</a></li>
                                    </ul>
                                </div>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Account" asp-action="Login">Login</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Account" asp-action="Register">Registrar</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img class="logo" src="~/img/logo.png" alt="" srcset="">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - acadgest - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
